/* Keyboard Style */
.section span.kbd {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	border-style: outset;
	border: 1px solid #aaa;
	background: #fafafa;
	padding: 0px 3px 1px 3px;
	margin: 0px 0px 0px 0px;
	vertical-align: baseline;
	line-height: 1.8em;
	white-space: nowrap;
}